{% extends 'security/base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

<main class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0 min-vh-100">
        <div class="col-12 col-md-8 col-lg-6 col-xxl-4 py-8 py-xl-0">
            <div class="card smooth-shadow-md">
                <div class="card-body p-6">
                    {% if presenter.userFound %}
                        <div class="text-center">
                            <img class="d-block mx-auto mb-4" src="{{ asset('build/images/email_send.png') }}" alt="Email" width="100" />

                            <h3 class="mb-2">Email envoyé !</h3>
                            <p>
                                Un email a été envoyé à l'adresse fournie.
                                Veuillez cliquer sur le lien pour réinitialiser votre mot de passe.
                            </p>
                            <a class="btn btn-primary btn-sm mt-3" href="{{ path('login') }}">
                                Retour authentification
                            </a>
                      </div>
                    {% else %}
                        <div class="mb-4">
                            <h3>Mot de passe oublié</h3>
                            <p class="mb-6">
                                Récupérez votre mot de passe et connectez-vous pour accéder à l'ensemble des services mis à disposition par Falcon ! 
                            </p>
                        </div>

                        {% for type, messages in app.session.flashbag.all() %}
                            {% for message in messages %}
                                <div class="alert alert-{{type}} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        
                        {{ form_start(form) }}
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}})}}

                        </div>
                        <div class="mb-3 d-grid">
                            <button type="submit" class="btn btn-primary">Valider</button>
                        </div>
                        <span>
                            Vous avez votre mot de passe ?
                            <a href="{{ path('login') }}">Connectez-vous</a>
                        </span>
                        {{ form_end(form) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}